/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Add a light background color */
}

header {
  background-color: #3c9dde; /* Change the header color to blue */
  border-bottom: 2px solid #333;
  padding: 1rem 0;
  text-align: center;
  color: #fff; /* Change the header text color to white */
}

h1 {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 2rem;
  background-color: #fff; /* Add a white background color for the main content area */
  border: 1px solid #ccc; /* Add a light border around the main content area */
  border-radius: 8px; /* Add rounded corners */
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 2rem;
}

/* Index styles */
#index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.index-post {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s;
}

.index-post:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  header {
      text-align: left;
      padding-left: 1rem;
  }

  main {
     
